#id_header_image {
    display: block;
    font-size: calc(16px + 1vw);
    font-family: 'Roboto Regular', sans-serif;
    width: 50%;
    max-width: 100px;
    min-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

#header_image-clear_id {
    display: none;
}
