<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Safe life system</title>{% endblock %}
    {% block society %}
        <meta property="og:title" content="Safe life system">
        <meta property="og:description" content="Система безопасной жизни - это проект по созданию безопасной среды для пользователей.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://safe-life-system.ru/">
        <meta property="og:site_name" content="Safe Life System">
    {% endblock %}
    {% block meta_description %}<meta name="description" content="Система безопасной жизни - это проект по созданию безопасной среды для пользователей.">{% endblock %}
    <meta name="google-site-verification" content="oCU23d78PxnjKWhSxtRzhVe2PwQvVH_9xX5p-Ep4GwQ" />    
</head>
<script src="https://unpkg.com/htmx.org@latest"></script>
<body class="background">
    <header class="header">
        <nav class="header-menu">
            <li><a href="/" class="header-menu__text header-menu__text_size_big-size">О проекте</a></li>
            <li class="header-menu__dropdown">
                <a class="header-menu__text">Программы</a>
                <ul class="header-menu__sub-menu">
                    {% for branche in branches %}
                        {% if branche.category == "1" %}
                            <li class="header-menu__text header-menu__text_size_small-size header-menu__text_margin_top"><a href="{{ branche.get_absolute_url }}" >{{ branche.name_branche }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="header-menu__dropdown">
                <a class="header-menu__text">Уроки</a>
                <ul class="header-menu__sub-menu">
                    {% for branche in branches %}
                        {% if branche.category == "2" %}
                            <li class="header-menu__text header-menu__text_size_small-size header-menu__text_margin_top"><a href="{{ branche.get_absolute_url }}" >{{ branche.name_branche }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><a href="/core/" class="header-menu__text">Ядро</a></li>
            <li><a href="/forum/" class="header-menu__text">Форум</a></li>
            {% if user.is_authenticated %}
                <li><a href={% url 'user_accaunt' %} class="header-menu__text">{{ user.username }}</a></li>
            {% else %}
                <li><a href={% url 'user_login' %} class="header-menu__text">Войти</a></li>
                <li><a href={% url 'user_registration' %} class="header-menu__text">Регистрация</a></li>
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <nav class="footer-menu">
            <p class="footer-menu__text">Контакты:</p>
            <li class="footer-menu__text"><a href="https://t.me/puky_kaky">Телеграмм</a></li>
            <li class="footer-menu__text"><a href="https://github.com/Cheef44">Github</a></li>
        </nav>
        <div class="footer__content">
            <p class="footer__title">Safe Life System</p>
            <p class="footer__copirate-text">© 2026 Safe Life System. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>
