<!DOCTYPE html>
<html lang="ru">
<head>

    {% extends 'base.html' %}
    {% block title %}<title>Посты</title>{% endblock %}
    {% block meta_description %}<meta name="description" content="Посты системы безопасной жизни - актуальные новости, статьи и обновления. Ознакомьтесь с последними публикациями и информацией о проекте.">{% endblock %}
    
    {% block society %}
        <meta property="og:title" content="Посты">
        <meta property="og:description" content="Посты системы безопасной жизни - актуальные новости, статьи и обновления. Ознакомьтесь с последними публикациями и информацией о проекте.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://safe-life-system.ru/posts/">
        <meta property="og:site_name" content="Safe Life System">
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посты</title>
</head>
<body>
    {% block content %}
        <div class="posts">
            <p class="posts_title">Посты:</p>

            {% for post in posts %}
                <div class="post">
                    {% if post.title_image %}
                        <img src="{{ post.title_image.url }}" alt="" class="post_image">
                    {% endif %}
                    <div class="post_content">
                        <a href="{{ post.get_absolute_url }}" class="post_content-title">{{ post.title|linebreaksbr }}</a>
                        <p class="post_date">{{ post.date }}</p>
                        <span class="post_main-text">{{ post.main_text|safe|linebreaksbr }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>