.footer {
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #090C15;
    width: 100%;
    z-index: 100;
    margin-top: auto;
}