.header-post_image__color {
    background-color: #fff;
    height: auto;
    min-height: 440px;
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center;
    box-sizing: border-box;
}
