.block-site_save-comment {
    width: 100%;
    max-width: 200px;
    height: 52px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: solid black 3px;
    font-size: clamp(16px, 2vw, 32px);
    font-family: 'Roboto Regular', sans-serif;
    box-sizing: border-box;
}
