#id_file {
    font-size: clamp(20px, 3vw, 40px);
    font-family: 'Roboto Regular', sans-serif;
    width: 50%;
    max-width: 165px;
    min-width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto; /* Выровнять по центру горизонтально */
    box-sizing: border-box;
}
