.header-post_auther {
    font-size: 20px;
    font-family: 'Roboto Regular', sans-serif;
    color: #fff;
    box-sizing: border-box;
    white-space: nowrap;       /* текст не переносится */
    overflow: hidden;          /* скрываем лишнее */
    text-overflow: ellipsis;      /* ограничиваем ширину родителя */
}

@media (max-width: 768px) {
    .header-post_auther {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .header-post_auther {
        font-size: 14px;
    }
}
